body{
  font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    min-height:100vh;
    position:relative; /*for the footer to stay at the bottom*/
}


input, button{
    cursor: pointer;
}


#loginPage{
    font-weight: lighter;
    width: 480px;
    hegith: 1000px;
    margin:auto;
    margin-top:100px;
    background: #f4f4f4;
    padding: 30px;
    border-radius: 5px;
}

#welcomeSign{
    font-weight: 300;
    font-size:20px;
    text-align: center;
    padding-bottom: 20px;
}

#guideSection{
    font-size:13px;
    padding: 20px;
    padding-top: 40px;
}

#guideSection div div{
    font-size:20px;
}

#guideSection li,#guideSection section{
    padding:4px;
}
#guide{
    font-size:20px;
    text-align: center;
    padding: 10px;
}

#guideSection #hidden{
    padding-top:30px;
}

#loginButtonContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}


#loginButton{
    display:inline-block;
    width:100%;
	background-color:#E98074;
	border-radius:5px;
	border:4px solid #E98074;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-size:28px;
	padding:32px 76px;

	text-decoration:none;
}
#loginButton:hover {
    color: white;
}



.center-con {
    display: flex;
    height: 3vh;
    align-items: center;
    justify-content: center;
}

.round {
    position: absolute;

    width: 40px;
    height: 40px;
    border-radius: 100%;
    background:#E98074;
}

#cta{
    width:100%; cursor: pointer; position: absolute;
}

#cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:15px;}
.segunda{margin-left: 8px;}
.next {
    background:#E98074;
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.round:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.round:hover .arrow.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}




#undo{
    display: inline-block;
    background:#7999f2;

    height:3em;
    width:6em;
    padding:5px;
    z-index:1;

    color:#555555;
    border: none;
    border-radius:0.15em;
    text-transform:uppercase;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    color:#FFFFFF;
    text-decoration:none;
    position: fixed;
    bottom: 2em;
    left:2em;

    display:none;
}

#undo:active{
    bottom:1.9em;
}

input:focus,button:focus {
    outline:none;
}












#loader-container{
    display:grid;
    justify-content:center;
    justify-items:center;
    height:100vh;

}

#loader {
  margin:auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #e66253;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}






#watch{
    display:none;
}



.pageButtons{
  padding-top:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#555555;

}


.pageButtons button {
    display: inline-block;
    width:65px;
    padding:5px;
    margin:3px;
    background: white;
    color:#555555;
    border: 1px solid #8E8D8A;
    border-radius:2px;
}

.page:hover{
    background: #8E8D8A;
}

button.currentPage{
    color:white;
    background: #8E8D8A;
}

.monthHeader{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    background:white;

    top: 0;

    padding:0.6em;
    display:grid;
    justify-content:center;
    letter-spacing:.5em;
    font-weight: lighter;
    font-size: 18px;
}













.results{

  margin:auto;
  width:95%;
  display:grid;
  grid-template-columns: repeat(auto-fill, 210px);
  justify-content:center;
  grid-gap: 0.25rem;
  padding-bottom:13.5em; /*to accomodate the footer */
}

.videoDetails{
  display:inline-block;
  width : 210px;
  height: 192px;
}



.removeButton{
  float: right;
  height: 21px;
  width: 21px;
  font-weight: lighter;
  line-height: 60%;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0;
  font-size: 30px;
  background-color: #555555;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.removeButton:hover{
  background-color: red;
}

.thumb{
    width:210px;
    height: 118px;
}




















nav {
    height: 2.5em;
    background: #e66253;
    padding: 0.5rem 0.5rem;
}

nav div {
    color:white;
    letter-spacing:0.01px;
    font-weight:lighter;
    font-size:18px;
    margin-top:0.5em;
    margin-left:2em;
    float:left;
}

nav span {
    margin-top:0.25em;
    display:flex;
    align-items: center;
    float:right;
}

nav img{
    border-radius:100px;
    border: 2px solid white;
}

nav input{
    margin-left: 0.5em;
    margin-top:0.05em;
    display: inline-block;
    width:65px;
    padding:5px;
    background: #e66253;
    color:white;
    border: none;
    border-radius:3px;
}

nav input:hover{

    color: black;
    border: none;
}
.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6em;

  background:#101010;
  color:white;
  display:flex;
  justify-content:center;
}

#footer span{
    display:flex;
    flex:1;
    justify-content:center;
    margin:auto;
}

#footer a{
    text-decoration:none;
    color:white;
    postion:absolute;
    top:2.5em;
}

#footer p{color:#555555;}