{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Watch{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if new_videos|length > 0 %}
        <h1>Since you last watched</h1>
        <center>
            {% for new_video in new_videos %}
                <a href="{{ new_video[1] }}" target='_blank'>
                <img src="{{ new_video[2] }}" width="160" height="90">
                </a>
            {% endfor %}
        </center>
        <h1>Older</h1>
    {% else %}
        <h1>Your feed</h1>
    {% endif %}
    <center>
        {% for old_video in old_videos %}
            <a href="{{ old_video[1] }}" target='_blank'>
            <img src="{{ old_video[2] }}" width="160" height="90">
            </a>
        {% endfor %}
    </center>
{% endblock %}