{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Watch{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    <span class="tooltip"> <button id="commit" > Commit </button>
        <span class="tooltiptext"> Commit to remove videos </span>
    </span>
    <span class="tooltip"> <button id="undo" > Undo </button>
        <span class="tooltiptext"> Undo until last commit </span>
    </span>
</div>
<div class = "pageButtons"></div>
<div class="results"></div>
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type=text/javascript src="{{url_for('static', filename='js/main.js') }}">
</script>
{% endblock %}