{% extends 'base.html' %}

{% block header %}
    <h1 id="watch">{% block title %}Watch{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="loader-container"><div id="loader"></div></div>
<div class = "pageButtons"></div>
<div class='monthHeader'></div>
<input type="button" value="Undo" id="undo" >
<div class="results"></div>
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type=text/javascript src="{{url_for('static', filename='js/main.js') }}">
</script>
{% endblock %}